<!DOCTYPE html>
<html>
  <head>
    <title>Submit a Question</title>
  </head>
  <body>
    <h1>Submit a Question</h1>
    <form action="/addQues" method="post">
      <label for="question">Question:</label><br />
      <input type="text" id="question" name="question" /><br />
      <label for="questionNo">questionNo:</label><br />
      <input type="text" id="questionNo" name="questionNo" /><br />
      <label for="image">Image URL:</label><br />
      <input type="text" id="image" name="image" /><br /><br />
      <button type="submit" name="button">Submit</button>
      <!-- <input type="submit" value="Submit" /> -->
    </form>
  </body>
</html>
