<!DOCTYPE html>
<html>
  <head>
    <title>Submit a Question</title>
  </head>
  <body>
    <h1>Submit a Question</h1>
    <form action="/addQues" method="POST">
      <label for="question">Question:</label><br />
      <input type="text" id="question" name="text" /><br />
      <label for="imageUrl">Image URL:</label><br />
      <input type="text" id="imageUrl" name="imageUrl" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
